flows.json
[
    {
        "id": "e20c9ffb3fa58107",
        "type": "tab",
        "label": "NRF-24",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75d87060fae93a1a",
        "type": "RF24output",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "radio": "87382ae638c5bfc7",
        "topic": "",
        "pipeaddress": "0x0000000001",
        "autoack": true,
        "hidestats": false,
        "writemode": "0",
        "streamsize": "512",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "33615e281f4b2ce7"
            ]
        ]
    },
    {
        "id": "33615e281f4b2ce7",
        "type": "debug",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "afd1311a0cc370b5",
        "type": "ui_colour_picker",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "label": "",
        "group": "399ec628dda6c955",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": true,
        "square": "true",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "9d3bd467a8b26baf"
            ]
        ]
    },
    {
        "id": "9d3bd467a8b26baf",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "rgb(",
                "fromt": "str",
                "to": "*",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "5478c2484f8fd481"
            ]
        ]
    },
    {
        "id": "7003ee045812a287",
        "type": "link in",
        "z": "e20c9ffb3fa58107",
        "name": "NRF-24-Radio",
        "links": [
            "d25f4b5ec38aa314",
            "f458537799b27d02"
        ],
        "x": 115,
        "y": 40,
        "wires": [
            [
                "75d87060fae93a1a"
            ]
        ]
    },
    {
        "id": "d25f4b5ec38aa314",
        "type": "link out",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "mode": "link",
        "links": [
            "7003ee045812a287"
        ],
        "x": 965,
        "y": 320,
        "wires": []
    },
    {
        "id": "061eed1d6d4d4390",
        "type": "ui_button",
        "z": "e20c9ffb3fa58107",
        "d": true,
        "name": "",
        "group": "399ec628dda6c955",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Baterina color",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "rgb(102, 51, 255)",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 100,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1a518560eae779e7",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rainbow.speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 860,
        "wires": [
            [
                "f122103796bad4f7"
            ]
        ]
    },
    {
        "id": "acd0c8c15e532c29",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rainbow.brightness",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 920,
        "wires": [
            [
                "f122103796bad4f7"
            ]
        ]
    },
    {
        "id": "16758cc073c2affc",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rainbow.saturation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "f122103796bad4f7"
            ]
        ]
    },
    {
        "id": "f122103796bad4f7",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rainbow",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 960,
        "wires": [
            [
                "ba6f7095b4472869"
            ]
        ]
    },
    {
        "id": "f10e9017c37cb460",
        "type": "ui_slider",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "9b6dbb027d91f86b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "rspeed",
        "topicType": "flow",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "1a518560eae779e7"
            ]
        ]
    },
    {
        "id": "29d4eb7ce203ff25",
        "type": "ui_slider",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "9b6dbb027d91f86b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "rbright",
        "topicType": "flow",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "acd0c8c15e532c29"
            ]
        ]
    },
    {
        "id": "760cc979ce4439d2",
        "type": "ui_slider",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "label": "Saturation",
        "tooltip": "",
        "group": "9b6dbb027d91f86b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "r.sat",
        "topicType": "flow",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "16758cc073c2affc"
            ]
        ]
    },
    {
        "id": "f458537799b27d02",
        "type": "link out",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "mode": "link",
        "links": [
            "7003ee045812a287"
        ],
        "x": 855,
        "y": 980,
        "wires": []
    },
    {
        "id": "44425e3e6162e389",
        "type": "debug",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 940,
        "wires": []
    },
    {
        "id": "b33ebe7c40348c59",
        "type": "ui_text",
        "z": "e20c9ffb3fa58107",
        "group": "9b6dbb027d91f86b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Values",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 900,
        "wires": []
    },
    {
        "id": "ba6f7095b4472869",
        "type": "function",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "func": "but = flow.get(\"rainbow.button\");\nvar speed = msg.payload.speed;\nvar brightness = msg.payload.brightness;\nvar saturation = msg.payload.saturation;\nif(but == true){\n    flow.set(\"rainbow.button\", false);\n    msg.payload = \"/\"+speed+\",\"+brightness+\",\"+saturation;\n    return msg; \n   \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 860,
        "wires": [
            [
                "b33ebe7c40348c59",
                "44425e3e6162e389",
                "f458537799b27d02"
            ]
        ]
    },
    {
        "id": "b161d1e50bbc94ea",
        "type": "ui_button",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "group": "9b6dbb027d91f86b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "rbut",
        "topicType": "flow",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "f2080f381dc4e08b"
            ]
        ]
    },
    {
        "id": "f2080f381dc4e08b",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rainbow.button",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "f122103796bad4f7"
            ]
        ]
    },
    {
        "id": "ae6e7e203ae9a7b3",
        "type": "function",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "func": "but = flow.get(\"color.button\");\nvar color = msg.payload.value;\nif(but == true){\n    flow.set(\"color.button\", false);\n    msg.payload = color;\n    return msg; \n   \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 340,
        "wires": [
            [
                "d25f4b5ec38aa314"
            ]
        ]
    },
    {
        "id": "7a4dcdc187fbe5fd",
        "type": "ui_button",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "group": "399ec628dda6c955",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "rbut",
        "topicType": "flow",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "dc6c597fab057d83"
            ]
        ]
    },
    {
        "id": "dc6c597fab057d83",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "color.button",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "74f43c80a7703cbc"
            ]
        ]
    },
    {
        "id": "74f43c80a7703cbc",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "color",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 380,
        "wires": [
            [
                "ae6e7e203ae9a7b3"
            ]
        ]
    },
    {
        "id": "5478c2484f8fd481",
        "type": "change",
        "z": "e20c9ffb3fa58107",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "color.value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "74f43c80a7703cbc"
            ]
        ]
    },
    {
        "id": "87382ae638c5bfc7",
        "type": "RF24radio",
        "name": "radiotx",
        "ce": "22",
        "cs": "0",
        "irq": "-1",
        "spispeed": "10000000",
        "autorecover": true,
        "palevel": "1",
        "enablelna": false,
        "datarate": "0",
        "channel": "76",
        "crclength": "2",
        "retriesdelay": "15",
        "retriescount": "15",
        "payloadsize": "32",
        "basepoll": "40000",
        "txdelay": "250"
    },
    {
        "id": "399ec628dda6c955",
        "type": "ui_group",
        "name": "Color",
        "tab": "bc86d9e3d0922c9e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b6dbb027d91f86b",
        "type": "ui_group",
        "name": "Rainbow",
        "tab": "bc86d9e3d0922c9e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc86d9e3d0922c9e",
        "type": "ui_tab",
        "name": "NRF24",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]